nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100vw;
    height:40px;
    padding:10px;
    backdrop-filter: blur(10px);
    background-color: rgba(42, 25, 196, 0.4);
    position:sticky;
    top:0px;
    font-size: 25px;
}

  

nav svg{
    width:45px;
    height:45px;
}