nav{
    display: flex;
    justify-content: space-around;
    align-content: center;
    width:100vw;
    height:40px;
    padding-bottom:20px;
    backdrop-filter: blur(10px);
    background-color: rgba(112, 108, 108, 0.4);
    position:sticky;
    top:0px;
    font-size: 25px;
}

  

nav svg{
    width:45px;
    height:45px;
}